[toolchain]
anchor_version = "0.30.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
basilisk_escrow = "2pF2rYoQkQK2CzRzQmK9YacHqxeC6R9tPzxfNJAmJTie"

[programs.devnet]
basilisk_escrow = "2pF2rYoQkQK2CzRzQmK9YacHqxeC6R9tPzxfNJAmJTie"

[programs.mainnet]
basilisk_escrow = "2pF2rYoQkQK2CzRzQmK9YacHqxeC6R9tPzxfNJAmJTie"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
